input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.form {
	max-width: 1000px;
	margin: auto;
}

.form__fieldset {
	padding: 0px 40px 0 40px;
	border: 1px solid #b3b3b3;
	border-radius: 50px;
	background-color: #00000090;
	box-shadow: #000000 0 0 20px;
}

.form__input {
	width: 50%;
	color: #e8eaed;
	border: none;
	outline: 1px solid #b3b3b3;
	border-radius: 10px;
	padding: 0 10px;
	background: #00000090;
}

.form__input:focus {
	outline: 2px solid #007bff;
}

.form__input:active {
	outline: 2px solid #66b0ff;
}

.form__mainCurrency {
	margin-left: 10px;
}

.form__output {
	margin-top: 20px
}

.form__select {
	cursor: pointer;
	color: #bdc1c6;
	border: none;
	background: none;
	padding: 0;
}

.form__button {
	cursor: pointer;
	width: 100%;
	border-radius: 50px;
	background: #00000090;
	color: #e8eaed;
	border: 1px solid #bdc1c6;
	transition: 0.3s;
	margin-top: 10px;
}

.form__button:hover {
	background-color: #00000050;
	text-shadow: #ffffff50 0 0 10px;
	box-shadow: #ffffff50 0 0 10px;
}

.form__button:active {
	background-color: #00000030;
	text-shadow: #ffffff 0 0 10px;
}

.form__information {
	font-size: 17px;
	font-style: italic;
	text-align: center;
	color: #bbbbbb;
	margin: 0;
}